*{
    margin: 0;
    font-family:Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
header{
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #f6f6f6;
    z-index: 1;
}
#logo{
    height: 5.1vw;
    margin-right: .5vw;
    margin-left: .85vw;
}
#nav{
    margin: 0;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 10vw;
    align-items: center;
    box-sizing: border-box;
}
header a{
    margin: 0;
    box-sizing: content-box;
    text-decoration: none;
    padding: 30px 15px 30px 15px;
}
.nav{
    color: #282C3F;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 700;
    min-width: 2vw;
    
}
#men:hover{
    border-bottom: 4px solid #ee5f73;
}
#women:hover{
    border-bottom: 4px solid #fb56c1;
}
#kids:hover{
    border-bottom: 4px solid #f26a10;;
}
#home:hover{
    border-bottom: 4px solid #f2c210;
}
#beauty:hover{
    border-bottom: 4px solid #0db7af;
}
#genz:hover{
    border-bottom: 4px solid #0db7af;
}
#studio:hover{
    border-bottom: 4px solid #ff3f6c;;
}
#sup{
    font-size: .8vw;
    color: red;
    margin-left: .5vw;
}
#search{
   display: flex;
   min-width: 200px;
   position: absolute;
   left: 750px  
}
.search-bar{
    color: #696e79;
    background: #f5f5f6;
    flex-grow: 1;
    width: 490px;
    height: 40px;
    border: 0;
    border-radius: 4px 0 0 4px;
}
#serach-icon{
    padding: 10px;
    box-sizing: content-box;
    font-weight: 300;
    height: 20px;
    color: #696e79;
    border-right: none;
    background: #f5f5f6;
    border-radius: 0 4px 4px 0;
    
}
.action{
    margin: 10px 0px 0 10px;
    /* margin-right: 3%; */
    text-decoration: none;
    padding: 0;
}
.action_name{
    text-decoration: black;
    color: black;
    font-weight: 500;
    font-size: 13px;
    padding-left: 10px;
}
.action_container{ 
    position: absolute;
    left: 1325px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#act_icon{
    height: 22px;
    width: 22px;
    cursor: pointer;
}
.icon{
    text-align: center;
    color: #696e79;
    padding-left: 10px;
    
}
.bagItemCount{
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    position: relative;
    left: -12px;
    top: -30px;
    font-weight: 300;
    cursor: pointer;
}
/* main section */
.items-container{
    margin: 50px 10%;
    width: 80%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item-container{
    width: 250px;
    margin-bottom: 20px;
}
.item-image{
    width: 100%;
}
.rating{
    font-size: 12px;
    font-weight: 700;

}
.company-name{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #282c3f;
    line-height: 1;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name{
    color: #535766;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.price{
    margin-top: 10px;
    font-size: 14px;
    color: #282c3f;
    white-space: nowrap;
    line-height: 15px;
}
.current-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price{
    text-decoration: line-through;
    color: #7eb18c;
    font-weight: 400;
    margin: 5px;
    font-size: 12px;
}
.discount{
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag{
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    
}

footer {
    position: relative;
    top: 100px;
    background: #FAFBFC;
    
}
.footer_container{
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px 0 ;
    text-transform: uppercase;
}
.footer_column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.footer_column a{
    color: #696b79;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 15px;
}
.footer_column h3 {
    font-size: 15px;
    color: #282c3f;
    margin-bottom: 25px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}